<div class="spinner-center" *ngIf="!repLoaded">
    <img [src]="spinner" alt=" ">
</div>


<div *ngIf="repLoaded">
    <div class="header">
        <div class="reportTitle">
            <span>
                Cosmedix B2B New Account Tiers
            </span>
            <app-report-info [reportInfo]="info"></app-report-info>
            <button mat-button matSuffix mat-icon-button aria-label="Download" (click)="downloadExcel()" title="Download as Excel">
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-button matSuffix mat-icon-button aria-label="Template" (click)="downloadTemplate()" title="Download Batch Upload Template" id="templateDownload">
              <mat-icon>table_chart</mat-icon>
            </button>
        </div>
        <div>
            <button (click)="toggleNewAccountTiersOpen()" class="createAccountTier">New CosComm Tiers</button>
        </div>
        <div class="accountTiersBatchUploadDiv">
            <label for="batchUploadButton">Upload csv Batch</label>
            <input type="file" id="batchUploadButton" name="batchUploadButton" (change)="fileChanged($event)" accept=".csv">

            <button mat-raised-button (click)="submitBatch()">Submit Account Batch</button>
        </div>
    </div>

    <div class="accountTierTableWrapper">
        <!-- new sales goal entry -->
        <div *ngIf="createNewAccountTierToggled" class="newAccountTierEntryArea">
            <select name="selectedTerritory" [(ngModel)]="selectedTerritoryId">
                <option value="undefined" disabled selected>Territory</option>
                <option *ngFor="let t of territoryMapping" [ngValue]="t.TERRITORY_ID">{{t.TERRITORY_ID}} - {{t.SALES_REP}}</option>
            </select>
            <input type="text" title="Ex:   YYYY" placeholder="Tier Year" [(ngModel)]="newTierYear">
            <input type="text" title="Ex:   tier_1 " placeholder="Tier" [(ngModel)]="newTier">
            <input type="text" title="Ex:  .10 = 10% " placeholder="Tier Percent" [(ngModel)]="newTierPercent">
            <button class="createAccountTier" (click)="uploadNewCosCommTiers()" *ngIf="!creatingNewAccountTier">Upload New Account Tiers</button>
            <img [src]="spinner" alt=" " *ngIf="creatingNewAccountTier">

            <button mat-button matSuffix mat-icon-button aria-label="close" (click)="toggleNewAccountTiersClose()">
                <mat-icon>close</mat-icon>
            </button>
        </div>

        <!-- TOP SEARCH BAR -->
        <mat-form-field class="searchBar">
            <input matInput type="text" (keyup)="globalFilter($event.target.value)" placeholder="Search" [(ngModel)]="searchInput">
            <mat-icon matSuffix aria-label="Search">search</mat-icon>
        </mat-form-field>

        <mat-table [dataSource]="tableSrc" matSort class="accountTierTable">
            <ng-container matColumnDef="Territory ID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Territory ID</th>
                <td mat-cell *matCellDef="let element"> {{element['TERRITORY_ID']}} </td>
            </ng-container>
            <ng-container matColumnDef="Sales Rep">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Sales Rep</th>
                <td mat-cell *matCellDef="let element"> {{element['SALES_REP']}} </td>
            </ng-container>

            <ng-container matColumnDef="Tier Year">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tier Year</th>
                <td mat-cell *matCellDef="let element"> {{element['TIER_YEAR']}} </td>
            </ng-container>
            <ng-container matColumnDef="Tier">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tier</th>
                <td mat-cell *matCellDef="let element"> {{element['TIER']}} </td>
            </ng-container>
            <ng-container matColumnDef="Tier Percent">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Tier Percent</th>
                <td mat-cell *matCellDef="let element; index as indexOfelement;">
                    <span *ngIf="!isToggled(indexOfelement) && !uploadingToggles[indexOfelement]">
                        <button (click)="toggleOpen(indexOfelement)">
                            {{ element['TIER_PERCENT'] }} %
                        </button>
                    </span>
                    <!-- Update Cos Commision Account Tiers -->
                    <span *ngIf="isToggled(indexOfelement) && !uploadingToggles[indexOfelement]" class="editWindow">
                        <input class="accountTiertUpdateInput" placeholder="{{ element['TIER_PERCENT'] }}" [(ngModel)]="element['TIER_PERCENT']">
                        <button mat-button matSuffix mat-icon-button aria-label="check"
                            (click)="updateCosCommTiers(element['TERRITORY_ID'], element['TIER_YEAR'], element['TIER'], element['TIER_PERCENT'], indexOfelement);toggleClose(indexOfelement)">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-button matSuffix mat-icon-button aria-label="close"
                            (click)="toggleClose(indexOfelement)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </span>
                    <span>
                        <button *ngIf="!deletingToggles[indexOfelement]"
                        matbutton matSuffix mat-icon-button aria-label="delete"
                        (click)="deleteCosCommTiers(element['TERRITORY_ID'], element['TIER_YEAR'], element['TIER'], indexOfelement)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    </span>
                    <!-- Delete budget -->
                    <img [src]="spinner" alt=" " *ngIf="uploadingToggles[indexOfelement]">
                    <img [src]="spinner" alt=" " *ngIf="deletingToggles[indexOfelement]">
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
            <tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>
        </mat-table>
    </div>
    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 50, 100, 500]" showFirstLastButtons>
    </mat-paginator>
</div>
